page-location {

}
img-image{
	text-align:center;
	margin:50px;	
}
.loc-logo{
	width:70px;

}
.img-image p {
	color:#FC4A64;
	font-size:14px;
}

.Choose-location{
	text-align:center;
}
.location {
    border: 1 px solid #FFFFFF;   
    padding: 10px 15px;
    margin: 3px 0;
    font-size: 18px;    
}
button.auto.location {
    background-color: #FC4A64;   
    color: #FFFFFF;
     width: 250px;
}
button.manual.location {
    background-color: #000000;
    color: #FFFFFF;
    width: 250px;
}
.Get-Location{
	margin-bottom: 10px;
}

