page-business {

}
.searchbar-md {
    padding: 8px;
    background-color: #ccc;

}
.searchbar-input-container {
    position: relative;
    display: block;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    width: 95% !important;
}