option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "gooffrr"
    MASTER_KEY: "gooffrr123"
    DATABASE_URI: "mongodb://localhost/dev"
    NODE_ENV: "production"
    SERVER_URL: "http://localhost:9999/parse"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
