page-login-page {

}
.img-image{
	text-align:center;
	margin:50px;	
}
.logo{
	width:150px;

}
.main-page{
	text-align:center;
}
.log-sign {
    border: none;
   
    padding: 10px 15px;
    margin: 3px 0;
    font-size: 18px;
    text-transform: uppercase;   
}
button.sign-btn.log-sign {
    background-color: #FC4A64;   
    color: #FFFFFF;
     width: 250px;
}
button.log-btn.log-sign {
    background-color: #000000;
    color: #FFFFFF;
     width: 250px;
}
.signup_action {
    margin-bottom: 10px;
}
